<section class="aboutUs">
      <div class="column">
        <h2>About Us</h2>
        <div class="title-line"></div>
        <div class="about-column">
          <p>Umjetnička galerija Bosne i Hercegovine, osnovana 1946. godine, proučava i čuva preko 6000 djela moderne i savremene umjetnosti, predstavljajući, sa stajališta vizuelne umjetnosti, najstariju i najznačajniju muzejsku instituciju u Bosni i Hercegovini.
            Zadaci galerije i svrha njenog djelovanja
            Od svog osnivanja Umjetnička galerija BiH organizovana je u nekoliko odjeljenja u okviru kojih izvršava svoje zakonom propisane djelatnosti: sistematsko istraživanje, čuvanje, restauraciju i konzervaciju, prikupljanje i prezentovanje građe javnosti.
            Naučno-istraživačka djelatnost bazira se, pored fundusa, na bogatoj bibliotečkoj građi, dokumentaciji, arhivi i fotodokumentaciji, a ima za cilj stručno izučavanje likovne umjetnosti, posebno iz Bosne i Hercegovine. Zatim, prate se novi tokovi u umjetnosti, omogućava dostupnost podataka javnosti, objavljuju se rezultati stručnog rada, izdaju monografije, katalozi itd. U sklopu programske djelatnosti Umjetnička galerija BiH organizuje stalne i povremene izložbe te ostvaruje saradnju i izlagačku razmjenu sa srodnim institucijama u zemlji i inostranstvu.
            Konačno, edukacijski segment temelji se na različitim programima edukacije vezanih za izložbe, zatim stručna vođenja kroz izložbe, te organizovane likovne radionice za djecu i mlade.
            Umjetnička galerija BiH osnovana je odlukom Vlade Narodne Republike Bosne i Hercegovine 11. oktobra 1946. godine. Jezgro početne zbirke činilo je oko 600 eksponata preuzetih iz tadašnje Galerije Zemaljskog muzeja.
          Galerija je za javnost otvorena 1959. godine svojom prvom stalnom postavkom.
          Danas kolekcija ima preko 6000 inventarskih jedinica podijeljenih u više zbirki: (Zbirka bosanskohercegovačke umjetnosti, Zbirka Ferdinanda Hodlera, Zbirka ikona i sakralne umjetnosti, Zbirka jugoslovenske umjetnosti, Međunarodna zbirka donacija, Zbirka fotografije i novih medija, Likovni arhiv „NADA“). Pored zbirke, u sklopu Umjetničke galerije BiH oformljeno je i odjeljenje dokumentacije i biblioteke te su se na taj način stvorili uslovi za naučno istraživački rad.
          Također su formirani odjeli restauratorske radionice, stolarske i pozlatarske radionice, fotostudio sa fototekom i odjeljenje koje se bavi pedagoškim radom.
          Od osnivanja do danas u Galeriji je postavljeno, pripremljeno ili preuzeto preko 900 većih i manjih izložbi, te izdato više od 150 vlastitih izdanja. 1986. g. Galeriju je odlikovalo Predsjedništvo SFRJ “Ordenom zasluga za narod sa srebrnim zracima”.
          U ratnom periodu 1992-1995 Galerija nije prestajala sa svojom djelatnošću, organiziravši samo u ovom periodu 42 izložbe. Najteži period za ovu instituciju nastupio je nakon potpisivanja Dejtonskog sporazuma, jer novi ustroj kulture ne predviđa postojanje državnih institucija pa je Umjetnička galerija BiH ostala bez osnivača i finansijera.
          </p>
        </div>
      </div>
</section>
    
    


  



    
    










  