<script src="js/script.js"></script>

<!-- Registration Form -->
<div class="container-registration">
  <div class="forms">
    <div class="form registration">
      <span class="title">Registration</span>

      <form id="registration-form" href="Admin_dashboard.html">
        <div class="input-field">
          <input type="text" id="register-email" placeholder="Enter your email address" required>
          <i class="uil uil-envelope icon"></i>
        </div>
        
        <div class="input-field">
          <input type="password" id="register-password" placeholder="Enter your password" required>
          <i class="uil uil-lock icon"></i>
          <i class="uil uil-eye-slash showHidePW"></i>
        </div>

        <div class="input-field">
          <input type="password" id="confirm-password" placeholder="Confirm your password" required>
          <i class="uil uil-lock icon"></i>
          <i class="uil uil-eye-slash showHidePW"></i>
        </div>

        <div class="input-field button">
          <input type="submit" value="Register" id="register-button">
        </div>
      </form>

      <div class="login-signup">
        <span class="text">Already have an account? <li><a href="#logIn">Log In /</a></li></span>
      </div>
    </div>
  </div>
</div>

 