<div id="page-content-wrapper">
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-transparent py-4 px-4">
        <!-- Collapsable Button -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
        </button>

        <!-- User Options Dropdown -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle second-text fw-bold" href="#" id="navbarDropdown"
                        role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-user me-2"></i>Admin
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="profile.html">Profile</a></li>
                        <li><a class="dropdown-item" href="index.html">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Group of Cards for stats -->
    <div class="container-fluid px-4">
        <div class="row g-3 my-2 justify-content-center">
            <!-- Card 1 -->
            <div class="col-md-6" >
                <a href="Artists_Admin.html">
                <div class="p-3 shadow-sm d-flex justify-content-around align-items-center rounded custom-card">
                    <div>
                        <h2 class="fs-2">3</h2>
                        <p class="fs-5">Artists</p>
                    </div>
                    <i class="uil uil-user fs-2"></i>
                </div>
                </a>
            </div>
            <!-- Card 2 -->
            <div class="col-md-6">
                <a href="Artwork_Admin.html">
                <div class="p-3 shadow-sm d-flex justify-content-around align-items-center rounded custom-card">
                    <div>
                        <h2 class="fs-2">3</h2>
                        <p class="fs-5">Artwork</p>
                    </div>
                    <i class="uil uil-layers-alt fs-2"></i>
                </div>
            </a>
            </div>
            <!-- Card 3 -->
            <div class="col-md-6">
                <a href="Categories_Admin.html">
                <div class="p-3 shadow-sm d-flex justify-content-around align-items-center rounded custom-card">
                    <div>
                        <h2 class="fs-2">3</h2>
                        <p class="fs-5">Categories</p>
                    </div>
                    <i class="uil uil-layers-alt fs-2"></i>
                </div>
            </a>
            </div>
            <!-- Card 4 -->
            <div class="col-md-6">
                <a href="Enquiry_Admin.html">
                <div class="p-3 shadow-sm d-flex justify-content-around align-items-center rounded custom-card">
                    <div>
                        <h2 class="fs-2">3</h2>
                        <p class="fs-5">Enquiries</p>
                    </div>
                    <i class="uil uil-envelope-alt fs-2"></i>
                </div>
            </a>
            </div>
        </div>
    </div>
    
    
</div>