<!-- Page Content -->
    
            <div class="container-fluid px-4">
                    <div class="row my-5">
                    <h3 class="fs-4 mb-3" style="color: #5B1726;">Artists</h3>
                    <div class="col">
                        <table class="table bg-white rounded shadow-sm  table-hover">
                            <thead>
                                <tr>
                                    <th scope="col" width="50">#</th>
                                    <th scope="col">ALL</th>
                                    <th scope="col">Art Piece</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Artist 1</td>
                                    <td>Arti Piece 1</td>
                                    
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>Artist 1</td>
                                    <td>Arti Piece 2</td>
                                    
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Artist 1</td>
                                    <td>Arti Piece 3</td>
                                    
                                </tr>
                                <tr>
                                    <th scope="row">4</th>
                                    <td>Artist 1</td>
                                    <td>Arti Piece 4</td>
                                    
                                </tr>
                                
                            </tbody>
                        </table>
                        
                        <h3 class="fs-4 mb-3" style="color: #5B1726;">Add new artist</h3>
                        <form class="form-horizontal" role="form" id="profile-form">
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Name and Surname:</label>
                            <div class="col-lg-8">
                                <input class="form-control" type="text" value="Amina Hamzic" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-3 control-label">Category:</label>
                            <div class="col-lg-8">
                                <select class="form-control" required>
                                    <option value="">Please select a category</option>
                                    <option value="cat1">Paintings</option>
                                    <option value="cat2">Sculptures</option>
                                    <option value="cat3">Pop art</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="">
                                <button type="submit" class="cta">Save Changes</button>
                            </div>
                        </div>
                    </form>


                    </div>
                </div>

            </div>
        </div>
    </div>
            
            
        </div>
    </div>
</body>

</html>
