

            <!-- Page Content -->
    
            <div class="container-fluid px-4">
                    <div class="row my-5">
                    <h3 class="fs-4 mb-3" style="color: #5B1726;">Messages</h3>
                    <div class="col">
                        <table class="table bg-white rounded shadow-sm table-hover">
                            <thead>
                              <tr>
                                <th scope="col" width="50">#</th>
                                <th scope="col">ALL</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th scope="row">1</th>
                                <td>
                                  <label for="category1">
                                    <input type="checkbox" id="category1" name="category" value="pop-art">
                                    Message 3
                                  </label>
                                </td>
                              </tr>
                              <tr>
                                <th scope="row">2</th>
                                <td>
                                  <label for="category2">
                                    <input type="checkbox" id="category2" name="category" value="Message">
                                    Message 2
                                  </label>
                                </td>
                              </tr>
                              <tr>
                                <th scope="row">3</th>
                                <td>
                                  <label for="category3">
                                    <input type="checkbox" id="category3" name="category" value="Message">
                                    Message 1
                                  </label>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                          
                          
                        
                        <h3 class="fs-4 mb-3" style="color: #5B1726;">Message</h3>
                        <form class="form-horizontal" role="form" id="profile-form">
                        <div class="form-group">
                        
                            <div class="col-lg-8">
                                <input class="form-control input-lg" type="text" value="" required>
                              </div>
                              
                        </div>

                        

                        <div class="form-group">
                            <div class="">
                                <button type="submit" class="cta">Send Message</button>
                            </div>
                        </div>
                    </form>


                    </div>
                </div>

            </div>
        </div>
    </div>
            
            
        </div>
    </div>
</body>

</html>
